<h1><%= @movie.title %> Movie Show Page</h1>
  <div id="movie-info">
    Title: <%= @movie.title %><br>
    Creation Year: <%= @movie.creation_year %><br>
    Genre: <%= @movie.genre %><br>
  </div>
  <p>
  <div id="actor-info">
    <% @movie.actors_by_age.each do |actor| %>
    - <%= actor.name %>, Age: <%= actor.age %><br>
    <% end %>
    <p>
    Average Actor Age: <%= @movie.avg_actor_age %>
  </div>

  <div id="add-actor">
    Add Actor To <%= @movie %><br>
    <%= form_with url: "/movies/#{@movie.id}", method: :post do |form| %>
      <%= form.label :actor_id %>
      <%= form.text_field :actor_id %>
      <%= form.submit %>
    <% end %>
  </div>