<h1>Studio Index Page</h1>

<% @studios.each do |studio| %>
  <div id="studio-<%="#{studio.id}"%>">
    <h3>Studio Name: <%= studio.name %>, Location: <%= studio.location %></h3>
    Movies:<br>
    <% studio.movies.each do |movie| %><br>
      <div id="movie-<%="#{movie.id}"%>"> 
      - <%= movie.title %>, <%= movie.creation_year %>, <%= movie.genre %><br>
      </div>
    <% end %>
  </div>
  <p>
<% end %>

  
